@import url('https://fonts.google.com/specimen/Open+Sans');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
}
img{
    max-width:100%;
    height:auto;
}
#header{
    color: rgba(0, 0, 0, 1);
    display: flex;
    /* border: 2px solid red;  */
    padding: 20px 40px 20px 20px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    /* justify-content: space-around; */
    box-shadow: 20px 20px 20px 20px rgb(145, 145, 145);
}
.ohmy_food{
    color: white;
    margin-left: 50px;
    /* border: 2px solid blue; */   
}
#back-arrow-icon{
    width: 24px;
    display: none;
    /* border: 2px solid green; */
}
.paris_container{
    /* border: 2px solid blue; */
    padding: 20px 0px 20px 0px;
    background-color: rgba(234, 234, 234, 1);
    font-size: 16px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgb(145, 145, 145);
}
.paris_location{
    width: 18px;
    margin-right: 24px;
}
.book_menu{
    padding: 15px 0px 30px 0px;
    /* border: 2px solid red; */
    text-align: center;
    background-color: rgba(246, 246, 246, 1);
}
.book-heading{
    /*border: 2px solid ;*/
    padding: 15px 0px 30px 0px;
    font-size: 20px;
}
.book-info{
    /*border: 2px solid red;*/
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(181, 181, 179)
}
.bookmenu-button{
    padding: 15px 30px 15px 30px;
    border-radius: 50px 50px 50px 50px;
    /* background-color: rgba(219, 109, 218, 1); */
    color: white;
    border: none;
    background-image: linear-gradient(rgba(219, 109, 218, 1), rgb(154, 84, 227));
}
#howitwork-container{
    /* border: 5px solid blue;   */
    padding: 20px 0px 30px 25px;
    background-color:rgba(255, 255, 255, 1) ;
}
.howitWork-heading{
    margin-bottom: 30px;
    font-size: 20px;
}
.choose_box{
    display: flex;
    padding: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    width:310px;
    margin-bottom: 30px;
    font-size: 18px;
    /* border: 2px solid; */
    background-color: rgba(246, 246, 246, 1);
    position: relative;
}
.choose_box3{
    display: flex;
    padding: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    width:310px;
    margin-bottom: 30px;
    font-size: 18px;
    /* border: 2px solid; */
    background-color: rgba(236, 224, 244, 0.801);
    position: relative;
}
.circle1{
    position: absolute;
    background-color: rgb(185, 106, 235);
    color: white;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50px 50px;
    text-align: center;
    z-index: 999;
    top: 20px;
    left: -10px;
}
.choose_img{
    width: 16px;
    margin-right: 20px;
    margin-left: 30px;
    font-size: 16px;
}
.fa-store{
    color: rgb(185, 106, 235);
    margin-right: 20px;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 5px;
}
.choose-word{
    padding-top: 5px;
    
}
#restaurant-container{
    /* border: 2px solid red; */
    padding: 20px 0px 30px 20px;
    background-color: rgba(246, 246, 246, 1);
}
.restaurant-heading{
    margin-bottom: 30px;
    font-size: 20px;
}
#full-palette-box,#enchanted-box,#bastille-box,#gourmand-box{
    /* border: 2px solid blue; */
    margin: 0px 25px 30px 0px;
    border-radius: 0px 0px 20px 20px;
    cursor: pointer;
    /* background-color: white; */
}
.relative{
    position: relative;
    display: block;
    /* border: 2px solid red; */
}
.new{
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0;
    margin: 10px 20px;
    padding: 10px 0px 30px 0px;
    color: rgba(3, 105, 89, 0.794) ;
    background-color:rgba(124, 219, 205, 0.794) ;
    width: 100px;
    text-align: center;
    height: 30px;
    font-size: 18px;
    font-weight: 800;
}
.food-new {
    /*border: 1px solid greenyellow;*/
    border-radius: 20px 20px 0px 0px;
}
.food-new2{
    /*border: 1px solid greenyellow;*/
    border-radius: 20px 20px 0px 0px;
    width: 370px;
    height: 190px;  
}
#paletteinfo-container{
    /* border: 2px solid rgb(135, 235, 135);  */
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 3px 3px 3px 3px rgb(214, 213, 213);
}
.palette-word{
    /*border: 2px solid red;*/
    font-size: 18px;
}
#loveImg,.loveImg{
    width: 30px;
    height: 100%;
    padding-right: 10px;
    /* color: red; */
    /*border: 2px solid red;*/
}
.fa-heart{
    font-size: 24px;
    height: 100%;
}
.fa-heart:hover{
    color: rgb(185, 106, 235);
}
#bastille-overall-container,#fullpallete-overall-container,#enchanted-overall-container,#gourmand-overall-container{
    display: none;
    position: relative;
}
#bastille-container{
    background-color: rgba(246, 246, 246, 1);
    padding: 20px 0px 50px 15px; 
    border-radius: 50px 50px 0px 0px;
    /* border: 2px solid red;    */
    margin-top: -30px;
    position: relative;
}
.bastille-box{
    display: flex;
    justify-content: space-between;
    /*border: 2px solid red;*/
    margin-right: 20px;
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 30px;
}
.loveImg2{
    padding: 8px 0px 0px 10px;
    width: 40px;
    height: 100%;
}
.bastilefull-box2{
    height: 320px;
}
.bastilefullImg2{
    height: 320px;
    width: 450px;
}
.entree-container{
    /*border: 7px solid blue;*/
    margin-right: 10px;
}
.entrees-box{
    /*border: 2px solid purple;*/
    padding: 10px 0px 15px 0px;
}
.entree-heading{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.line{
    color: aquamarine;
    width: 50px;
    border: 1.3px solid aquamarine;
}
.bastille-list{
    /* border: 2px solid rgba(255, 255, 255, 1);*/
    padding: 0px 0px 0px 10px;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    cursor: pointer;
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 1); 
}
.citrus-box{
    /*border: 2px solid aqua;*/
    font-size: 18px;
    padding-top: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}
.citrus-price, #citrus-price{
    font-size: 18px;
    /*border: 2px solid red;*/
    padding-top: 45px;
    padding-right: 5px;
}

.correct-box{
    /* border: 2px solid green; */
    border-radius: 0px 20px 20px 0px;
    padding: 20px 10px 20px 10px;
    display: none;
    background-color: rgb(192, 242, 225);
       
}
.bastille-list:hover .correct-box{
    display: block;
}
.order-container{
    text-align: center;
    /*border: 2px solid;*/
    margin: 50px 10px 80px 0px;
}
.order-heading{
    width: 200px;
    border: none;
    color: white;
    background-image: linear-gradient(rgba(219, 109, 218, 1), rgb(154, 84, 227));
    padding: 15px 15px;
    border-radius: 20px 20px 20px 20px;
}
#footer{
    /* border: 2px solid blue; */
    padding: 20px 0px 50px 20px;
    background-color: rgba(53, 53, 53, 1);
}
.ohmyfood-brand2{
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: 900;
}
.suggest-container{
    display: flex;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}
.spoons-img,.fa-handshake-angle{
    width: 30px;
    height: 30px;
    margin-right: 15px;  
    color: white;
}

.suggest-word{
    padding-top: 5px;
}
.legal,.contact{
    font-size: 19px;
    color: white;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px){
    #how-itwork{
        /* border: 5px solid blue; */
        padding: 20px 0px 30px 20px;
        background-color:rgba(255, 255, 255, 1) ;
    }
    .howitwork-sub{
        /* border: 2px solid red;  */
        display: flex;
        flex-wrap: wrap;
        padding: 0px 10px 0px 0px;
       }
    .howItWork-heading{
        margin-left: 20px;
    }
    .choose_box{
        display: flex;
        margin-left: 15px; 
        padding: 20px 0px 20px 0px;
        border-radius: 20px 20px 20px 20px;
        width:400px;
        margin-bottom: 30px;
        font-size: 18px;
        background-color: rgba(246, 246, 246, 1);
    }
    .choose_box3{
        display: flex;
        padding: 20px 20px 20px 20px;
        border-radius: 20px 20px 20px 20px;
        width:400px;
        margin-left: 15px;
        margin-bottom: 30px;
        font-size: 18px;
        /* border: 2px solid; */
        background-color: rgba(236, 224, 244, 0.801);
        position: relative;   
    }
    .choose_img{
        width: 15px;
        height: 15px;
        margin-right: 6px;
        margin-left: 40px;
        margin-top: 5px;
    }
    .fa-store{
        margin-right: 10px;
        margin-left: 10px;
    }
    #restaurant-container{
     /* border: 2px solid red; */
     padding: 50px 0px 80px 20px;
     background-color: rgba(246, 246, 246, 1);
    }
    .restaurant-sub{
     /* border: 2px solid rgb(76, 0, 255);  */
     display: flex; 
     flex-wrap: wrap;
     justify-content: space-around;
    }
    #full-palette-box,#enchanted-box,#bastille-box,#gourmand-box{
        /* border: 2px solid rgb(170, 24, 38); */
        margin: 0px 8px 10px 0px;
        border-radius: 0px 0px 20px 20px;
        width: 300px;
        /* background-color: white; */
    }
    .food-new{
        /* border: 5px solid greenyellow; */
        border-radius: 20px 20px 0px 0px;
        width: 300px;
        
    }
    .palette-word{
        /*border: 2px solid red;*/
        font-size: 18px;
    }
    .bastilefull-box2{
        height: 520px;
        /* border: 3px solid blue; */
    }
    .bastilefullImg2{
        height: 520px;
        width: 100%;
        /* border: 2px solid red; */
    }   
}

@media only screen and (min-width: 943px){

    .bastilefull-box{
        /* border: 6px solid greenyellow; */
        height: 500px;
    }
    .bastilefullImg{
        height: 500px;
        width: 100%;
    }
    .entreeMainDesert{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .howitwork-sub{
        /* border: 2px solid red; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 0px 50px 0px 20px;
       }
    .restaurant-sub{
        /* border: 2px solid rgb(76, 0, 255);   */
        display: flex; 
        justify-content: space-around;
        flex-wrap: nowrap;
       }
       #full-palette-box,#enchanted-box,#bastille-box,#gourmand-box{
        /* border: 2px solid rgb(170, 24, 38); */
        margin: 0px 10px 30px 0px;
        border-radius: 0px 0px 20px 20px;
        width: 600px;
        /* background-color: white; */
    }
    
    .food-new{
        /* border: 5px solid greenyellow; */
        border-radius: 20px 20px 0px 0px;
        width: 600px;
        height: 200px;
    }
    .food-new2{
        /*border: 1px solid greenyellow;*/
        border-radius: 20px 20px 0px 0px;
        width: 600px;
        height: 200px;
    }
    .bastille-list{
        /* border: 2px solid rgba(255, 255, 255, 1); */
        padding: 0px 0px 0px 10px;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        /* border: 2px solid red; */
        width: 450px;
        background-color: rgba(255, 255, 255, 1); 
    }
   
}